<h1> New Article </h1>

<%# We are adding a form below here 
First time making a web app like this. %>

<%# get rid of redundent code by using our partial we made in _form.html.erb %>

<%= render "form" %>

<br>
<br>

<%= link_to 'Back', articles_path %>